__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
spark-warehouse/
metastore_db/
derby.log
.data/
*.log
.DS_Store
.jars/
deployment/docker/jars/*.jar
.env.local
